# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# binaries for sure
*.jpg binary
*.png binary

# C# stuff in attic
*.dll binary
*.pdb binary
*.exe binary
*.nupkg binary