@import 'jeet'

.Counter
    column(1/3)
    text-align center
    height 40vh

    .bar
        margin 0 auto
        width 40%

        &.down
            background-color $main-color
            text-align center
            color white
