@import 'nib'

$boxSize = 800px //85vmin
$halfBoxSize = $boxSize * 0.5

.Cube
    position relative
    width $boxSize
    height 100%
    margin 0 auto


.Slide
    width $boxSize
    height $boxSize
    &.moving
        transition: all 2s;

    transform-origin 50% 50%

    position absolute;

    &.left
    &.mid90
        transform perspective(700px) translateZ(- $halfBoxSize) rotateY( -90deg ) translateZ($halfBoxSize)

    &.left-90
    &.mid
    &.right90
        transform perspective(700px) translateZ(- $halfBoxSize) rotateY( 0deg ) translateZ($halfBoxSize)

    &.mid-90
    &.right
        transform perspective(700px) translateZ(- $halfBoxSize) rotateY(  90deg ) translateZ($halfBoxSize)

    &.left-90
    &.mid
    &.right90
        opacity 100%

    &.right-90
    &.right
    &.left
    &.left90
    &.mid-90
    &.mid90
        opacity 0



    h1
        width 100%
        margin 0 -0.5%
        font-size 10vh

    .body
        width 100%
        height 75%
        margin 0px auto
        border 5px solid black
        font-size 7vh

        li
            list-style-type none
            text-align center

