.Button
    text-decoration none

    div
        foreground-background($main-color)
        border 0px
        border-radius 4px
        padding 6px 10px
        font-style normal
        width 100px
        margin 0px auto
