.Button
    foreground-background($main-color)
    border 0px
    border-radius 4px
    padding 6px 10px
    font-style normal

.Button[disabled]
    foreground-background(saturation($main-color, 0))
