@import 'jeet'
@import 'nib'

.CrowdOMeter 
    position absolute
    left 15vw
    //top 35vh
        
    width 70vw
    height 40vh
    margin 0px auto
    z-index 50
    cf()
    font-size 3vh

    transition 0.8s ease-in-out

    p
        width 100%
        text-align center
