.ModalDialog
    position absolute

    left 20vw
    top -10vh
        
    width 60vw
    height 30vh
    margin 0px auto
    border 10px solid blue
    background white
    z-index 60
    font-size 3vh
