/* 

Library stylus file - define global variables and functions here.
Don't put any actual CSS in here (like, selectors and all), those belong
in component style files.

*/

// LAYOUT
    $header-height = 38px
    $title-bar-height = 30px
    $chat-offset = $header-height + $title-bar-height
    $entry-height = 32px

    $chat-width = 400px


// SKIN
    $main-color = #88d

    // sets background color to `color` and foreground color to an 
    // almost-white shade of `color`
    foreground-background(color)
        background-color color
        color lightness(color, 95%)  
